* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f2f2f2;
}

#boards-container {
    margin-top: 20px;
}

#cards-container {
    margin-top: 20px;
    display: none;
}

#intro {
    float: left;
    box-sizing: border-box;
    background-color: #f5f5dc;
    color: #4d4d4d;
    border: 1px solid #dcdcc6;
    border-radius: 6px;
    cursor: default;
}

#intro h1{
    font-weight: bold;
}

#input-field {
    color: #ffffff;
}

#card-input-field {
    color: #ffffff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

.btn {
    display: inline-block;
    margin: 8px;
}

.board {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid #c61236;
    border-radius: 6px;
    margin: 12px;
    font-size: 20px;
    min-width: 170px;
    cursor: pointer;
    float: left;
}

.card {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid #c61236;
    border-radius: 6px;
    margin: 12px;
    font-size: 20px;
    min-width: 170px;
    cursor: pointer;
    float: left;
}

.board-input {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid red;
    border-radius: 6px;
    margin: 12px;
    font-size: 20px;
    min-width: 150px;
    cursor: pointer;
    float: left;
}

input {
    color: #000000;
    border: none;
    border-radius: 6px;
    background-color: #dc143c;
}

input:focus {
    outline: none;
}

#new-board {
    float: left;
}

.boards {
    float: left;
}

.card-input {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid red;
    border-radius: 6px;
    margin: 12px;
    font-size: 20px;
    display: inline-block;
    min-width: 150px;
    cursor: pointer;
}