* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f2f2f2;
}

h2 {
    margin-bottom: 10px;
}

#cards-container {
    margin-top: 20px;
    display: none;
}

#intro {
    text-align: center;
    box-sizing: border-box;
    background-color: #f5f5dc;
    color: #4d4d4d;
    border: 1px solid #dcdcc6;
    border-radius: 6px;
    cursor: default;
    padding: 10px;
}

#prog-container {
    display: none;
}

#intro h1{
    font-weight: bold; 
}

#input-field {
    color: #ffffff;
}

#cards-head * {
}

#back-button {
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 20px;
    min-width: 150px;
    cursor: pointer;
}

#submit-new-title {
    text-align: center;
    padding: 7px;
    border-radius: 6px;
    font-size: 12px;
    background-color: #f5f5dc;
    color: #4d4d4d;
    border: 1px solid #dcdcc6;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#logo-copy h1 {
    text-align: center;
    font-weight: bold;
    color: #4d4d4d;
    font-size: 75px;
}

#logo-copy p {
    text-align: center;
    color: #4d4d4d;
}

#dialog {
    background-color: crimson;
    display: none;
    color: #ffffff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

.row {
    margin-top: 10px;
}

.btn {
    display: inline-block;
}

#card-input-field {
    color: #ffffff;
}

.board-design {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid #c61236;
    border-radius: 6px;
    margin: 12px;
    font-size: 20px;
    min-width: 170px;
    display: inline-block;
}

.board {
    cursor: pointer;
}

.card {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid #c61236;
    border-radius: 6px;
    margin: 12px;
    font-size: 20px;
    min-width: 170px;
    cursor: pointer;

}

.card-intros {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid #c61236;
    border-radius: 6px;
    margin: 12px;
    font-size: 20px;
    min-width: 170px;
    cursor: pointer;

}

.board-input {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid red;
    border-radius: 6px;
    font-size: 20px;
    min-width: 150px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;

}

input {
    color: #ffffff;
    border: none;
    border-radius: 6px;
    background-color: #dc143c;
}

footer a {
    color: #f2f2f2;
}

footer a:hover {
    color: #f2f2f2;
}

input:focus {
    outline: none;
}

#cards-container div {
    text-align: center;
}

#new {
    min-height: 100vh;
    background-color: #e3dac9;
    padding-top: 10px;
}

#in-progress {
    background-color: #EAD3A8;
    min-height: 100vh;
    padding-top: 10px;
}

#review {
    color: #ffffff;
    min-height: 100vh;
    background-color: #6E6568;
    padding-top: 10px;
}

#done {
    color: #ffffff;
    background-color: #484043;
    min-height: 100vh;
    padding-top: 10px;
}

.ui-dialog-titlebar {
    background-image: none;
    background-color: #f5f5dc;
    color: #4d4d4d;
}

ui-dialog {
    border: none;
}

.col-md-3 {
    padding: 0px;
}

.panel {
    display: none;
    background-color: crimson;
}

.clog {
    font-size: 19px;
    cursor: pointer;
}

.boards {

}

.card-input {
    text-align: center;
    color: white;
    background-color: crimson;
    padding: 12px;
    border: 1px solid red;
    border-radius: 6px;
    font-size: 20px;
    min-width: 150px;
    cursor: pointer;
}
